# Git
.git
.gitignore

# Node
frontend/node_modules
frontend/build
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Python
backend/__pycache__
backend/*.py[cod]
backend/*$py.class
backend/.Python
backend/.venv
backend/venv
backend/env
backend/ENV
backend/.pytest_cache
backend/.coverage
backend/htmlcov
backend/.tox
backend/.mypy_cache
backend/.dmypy.json
backend/dmypy.json

# IDEs
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Misc
*.log
*.db
*.db-journal
README.md
